.section {
  width: 100vw;
  padding: 16px;
  justify-self: center;
}

@media screen and (width >= 768px) {
  .section {
    width: 768px;
  }
}

.projectSection {
  width: 100vw;
  padding: 48px;
  justify-self: center;
}

@media screen and (width >= 1024px) {
  .projectSection {
    width: 768px;
    padding: 8px;
  }
}
